OurWeatherFlows.json
[{"id":"984096a63b02a98a","type":"tab","label":"OurWeather Ingest","disabled":false,"info":"","env":[]},{"id":"bf31afd33b6a4382","type":"ha-entity","z":"984096a63b02a98a","name":"OutdoorTemperature","server":"aad44a62.80a0c","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"OutdoorTemperature"},{"property":"device_class","value":"temperature"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"°F"}],"state":"payload.OutdoorTemperature","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":700,"y":260,"wires":[["4e668861661fb093","a4c9f62e2bd10343"]]},{"id":"50eeac1377b71108","type":"ha-entity","z":"984096a63b02a98a","name":"OutdoorHumidity","server":"aad44a62.80a0c","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"OutdoorHumidity"},{"property":"device_class","value":"humidity"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"%"}],"state":"payload.variables.OutdoorHumidity","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":690,"y":320,"wires":[[]]},{"id":"d921d045ea7ea434","type":"ha-entity","z":"984096a63b02a98a","name":"BarometricPressure","server":"aad44a62.80a0c","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"BarometricPressure"},{"property":"device_class","value":"pressure"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"inches"}],"state":"payload.BarometricPressure","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":700,"y":140,"wires":[[]]},{"id":"12471face14c19a8","type":"ha-entity","z":"984096a63b02a98a","name":"IndoorTemperature","server":"aad44a62.80a0c","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"IndoorTemperature"},{"property":"device_class","value":"temperature"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"°F"}],"state":"payload.IndoorTemperature","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":690,"y":80,"wires":[[]]},{"id":"56f7c9d05d8eb77c","type":"ha-entity","z":"984096a63b02a98a","name":"CurrentWindDirection","server":"aad44a62.80a0c","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"CurrentWindDirection"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"°"}],"state":"payload.variables.CurrentWindDirection","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":700,"y":500,"wires":[[]]},{"id":"cb7539c14154a42e","type":"ha-entity","z":"984096a63b02a98a","name":"WindSpeedMax","server":"aad44a62.80a0c","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"WindSpeedMax"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"mph"}],"state":"payload.WindSpeedMax","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":680,"y":740,"wires":[[]]},{"id":"64e06fd43ee17252","type":"unit-converter","z":"984096a63b02a98a","category":"temperature","inputUnit":"C","outputUnit":"F","inputField":"payload.variables.OutdoorTemperature","outputField":"payload.OutdoorTemperature","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":true,"outputFieldDecimals":"1","name":"OT CtoF","x":480,"y":260,"wires":[["bf31afd33b6a4382"]]},{"id":"361a7ef715460b84","type":"unit-converter","z":"984096a63b02a98a","category":"temperature","inputUnit":"C","outputUnit":"F","inputField":"payload.variables.IndoorTemperature","outputField":"payload.IndoorTemperature","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":true,"outputFieldDecimals":"1","name":"IT CtoF","x":480,"y":80,"wires":[["12471face14c19a8"]]},{"id":"c5de698cd17bb497","type":"unit-converter","z":"984096a63b02a98a","category":"speed","inputUnit":"km/h","outputUnit":"m/h","inputField":"payload.variables.WindSpeedMax","outputField":"payload.WindSpeedMax","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":true,"outputFieldDecimals":"1","name":"WSMax KtoM","x":500,"y":740,"wires":[["cb7539c14154a42e"]]},{"id":"1c66634391301f54","type":"unit-converter","z":"984096a63b02a98a","category":"speed","inputUnit":"km/h","outputUnit":"m/h","inputField":"payload.variables.WindGustMax","outputField":"payload.WindGustMax","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":true,"outputFieldDecimals":"1","name":"WGMax KtoM","x":500,"y":800,"wires":[["f23a16c720ae6ebf"]]},{"id":"8c89b3f18d44e318","type":"unit-converter","z":"984096a63b02a98a","category":"length","inputUnit":"mm","outputUnit":"in","inputField":"payload.variables.RainCalendarDay","outputField":"payload.RainCalendarDayInches","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":true,"outputFieldDecimals":"2","name":"RainDaymmtoIn","x":500,"y":1280,"wires":[["79329ec2cfe92a81"]]},{"id":"9911286602c4dce4","type":"unit-converter","z":"984096a63b02a98a","category":"length","inputUnit":"mm","outputUnit":"in","inputField":"payload.variables.Rain60Minutes","outputField":"payload.Rain60MinutesInches","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":true,"outputFieldDecimals":"2","name":"Rain60mmtoIn","x":500,"y":1220,"wires":[["4aa048a8bf72f705"]]},{"id":"ea2e85cc6f0d63da","type":"http request","z":"984096a63b02a98a","name":"GET-Weather-API","method":"GET","ret":"obj","paytoqs":"body","url":"http://172.16.3.128","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":230,"y":620,"wires":[["64e06fd43ee17252","361a7ef715460b84","50eeac1377b71108","56f7c9d05d8eb77c","c5de698cd17bb497","1c66634391301f54","9911286602c4dce4","8c89b3f18d44e318","3d1f5b60db6c42fe","84d1252b2d70f7bb","5900d1d765cfbd23","46b09374f49da69d","7292a2323f1a8c7b","8d5f6fd080a4869c","c08e1ffc870c59bb","7fc53189855cb8e3","e3377d5ec5ce71e5","8291277bd723739a","982ffcf1e9ab3226","45c579e5995b391c","0b412e1222d01637"]]},{"id":"cf84d0f5e70728c7","type":"inject","z":"984096a63b02a98a","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"date","x":70,"y":620,"wires":[["ea2e85cc6f0d63da"]]},{"id":"f23a16c720ae6ebf","type":"ha-entity","z":"984096a63b02a98a","name":"WindGustMax","server":"aad44a62.80a0c","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"WindGustMax"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"mph"}],"state":"payload.WindGustMax","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":680,"y":800,"wires":[[]]},{"id":"3d1f5b60db6c42fe","type":"function","z":"984096a63b02a98a","name":"BP BartoInHg","func":"var x = msg.payload.variables.BarometricPressure\nmsg.payload.BarometricPressure = (x / 3386).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":140,"wires":[["d921d045ea7ea434"]]},{"id":"79329ec2cfe92a81","type":"ha-entity","z":"984096a63b02a98a","name":"RainCalendarDay","server":"aad44a62.80a0c","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"RainCalendarDay"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"in"}],"state":"payload.RainCalendarDayInches","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":690,"y":1280,"wires":[[]]},{"id":"4aa048a8bf72f705","type":"ha-entity","z":"984096a63b02a98a","name":"Rain60Minutes","server":"aad44a62.80a0c","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Rain60Minutes"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"in"}],"state":"payload.Rain60MinutesInches","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":680,"y":1220,"wires":[[]]},{"id":"4e668861661fb093","type":"smooth","z":"984096a63b02a98a","name":"minOutTemp","property":"payload.OutsideTemperatureF","action":"min","count":"17280","round":"","mult":"single","reduce":false,"x":910,"y":240,"wires":[[]]},{"id":"a4c9f62e2bd10343","type":"smooth","z":"984096a63b02a98a","name":"maxOutTemp","property":"payload.OutsideTemperatureF","action":"max","count":"17280","round":"","mult":"single","reduce":false,"x":910,"y":280,"wires":[[]]},{"id":"732a7c3b3c2f92ce","type":"ha-entity","z":"984096a63b02a98a","name":"Altitude","server":"aad44a62.80a0c","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Altitude"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"feet"}],"state":"payload.Altitude","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":660,"y":200,"wires":[[]]},{"id":"84d1252b2d70f7bb","type":"unit-converter","z":"984096a63b02a98a","category":"length","inputUnit":"m","outputUnit":"ft","inputField":"payload.variables.Altitude","outputField":"payload.Altitude","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":true,"outputFieldDecimals":"1","name":"Alt MtoF","x":480,"y":200,"wires":[["732a7c3b3c2f92ce"]]},{"id":"723118b9d0ca4e3e","type":"ha-entity","z":"984096a63b02a98a","name":"CurrentWindSpeed","server":"aad44a62.80a0c","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"CurrentWindSpeed"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"mph"}],"state":"payload.CurrentWindSpeed","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":690,"y":380,"wires":[[]]},{"id":"5900d1d765cfbd23","type":"unit-converter","z":"984096a63b02a98a","category":"speed","inputUnit":"km/h","outputUnit":"m/h","inputField":"payload.variables.CurrentWindSpeed","outputField":"payload.CurrentWindSpeed","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":true,"outputFieldDecimals":"1","name":"CWS KtoM","x":490,"y":380,"wires":[["723118b9d0ca4e3e"]]},{"id":"46b09374f49da69d","type":"unit-converter","z":"984096a63b02a98a","category":"speed","inputUnit":"km/h","outputUnit":"m/h","inputField":"payload.variables.CurrentWindGust","outputField":"payload.CurrentWindGust","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":true,"outputFieldDecimals":"1","name":"CWG KtoM","x":490,"y":440,"wires":[["34b533511c3e1972"]]},{"id":"34b533511c3e1972","type":"ha-entity","z":"984096a63b02a98a","name":"CurrentWindGust","server":"aad44a62.80a0c","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"CurrentWindGust"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"mph"}],"state":"payload.CurrentWindGust","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":690,"y":440,"wires":[[]]},{"id":"7292a2323f1a8c7b","type":"ha-entity","z":"984096a63b02a98a","name":"EnglishOrMetric","server":"aad44a62.80a0c","version":1,"debugenabled":false,"outputs":1,"entityType":"binary_sensor","config":[{"property":"name","value":"EnglishOrMetric"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"°"}],"state":"payload.variables.EnglishOrMetric","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":680,"y":560,"wires":[[]]},{"id":"8d5f6fd080a4869c","type":"unit-converter","z":"984096a63b02a98a","category":"length","inputUnit":"mm","outputUnit":"in","inputField":"payload.variables.RainTotal","outputField":"payload.RainTotal","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":true,"outputFieldDecimals":"2","name":"RT mmtoIn","x":490,"y":620,"wires":[["105e9abc46764613"]]},{"id":"105e9abc46764613","type":"ha-entity","z":"984096a63b02a98a","name":"RainTotal","server":"aad44a62.80a0c","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"RainTotal"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"in"}],"state":"payload.RainTotal","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":660,"y":620,"wires":[[]]},{"id":"372f4dcab8e935cb","type":"ha-entity","z":"984096a63b02a98a","name":"WindSpeedMin","server":"aad44a62.80a0c","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"WindSpeedMin"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"mph"}],"state":"payload.WindSpeedMin","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":680,"y":680,"wires":[[]]},{"id":"c08e1ffc870c59bb","type":"unit-converter","z":"984096a63b02a98a","category":"speed","inputUnit":"km/h","outputUnit":"m/h","inputField":"payload.variables.WindSpeedMin","outputField":"payload.WindSpeedMin","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":true,"outputFieldDecimals":"1","name":"WSMin KtoM","x":490,"y":680,"wires":[["372f4dcab8e935cb"]]},{"id":"7fc53189855cb8e3","type":"unit-converter","z":"984096a63b02a98a","category":"speed","inputUnit":"km/h","outputUnit":"m/h","inputField":"payload.variables.WindGustMin","outputField":"payload.WindGustMin","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":true,"outputFieldDecimals":"1","name":"WGMin KtoM","x":490,"y":860,"wires":[["bcf6068c356b2031"]]},{"id":"bcf6068c356b2031","type":"ha-entity","z":"984096a63b02a98a","name":"WindGustMin","server":"aad44a62.80a0c","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"WindGustMin"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"mph"}],"state":"payload.WindGustMin","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":680,"y":860,"wires":[[]]},{"id":"e3377d5ec5ce71e5","type":"ha-entity","z":"984096a63b02a98a","name":"WindDirectionMin","server":"aad44a62.80a0c","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"WindDirectionMin"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"°"}],"state":"payload.variables.WindDirectionMin","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":690,"y":920,"wires":[[]]},{"id":"8291277bd723739a","type":"ha-entity","z":"984096a63b02a98a","name":"WindDirectionMax","server":"aad44a62.80a0c","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"WindDirectionMax"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"°"}],"state":"payload.variables.WindDirectionMax","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":690,"y":980,"wires":[[]]},{"id":"982ffcf1e9ab3226","type":"ha-entity","z":"984096a63b02a98a","name":"AirQualitySensor","server":"aad44a62.80a0c","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"AirQualitySensor"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload.variables.AirQualitySensor","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":690,"y":1040,"wires":[[]]},{"id":"45c579e5995b391c","type":"ha-entity","z":"984096a63b02a98a","name":"ThunderBoardLast","server":"aad44a62.80a0c","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"ThunderBoardLast"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload.variables.ThunderBoardLast","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":690,"y":1100,"wires":[[]]},{"id":"0b412e1222d01637","type":"ha-entity","z":"984096a63b02a98a","name":"ThunderBoardParams","server":"aad44a62.80a0c","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"ThunderBoardParams"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload.variables.ThunderBoardParams","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":700,"y":1160,"wires":[[]]},{"id":"aad44a62.80a0c","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30}]
